@*
    ViewData["Title"] = "Form Submission Confirmation"
*@

<br /><br />
<h2>Your form has been successfully submitted!</h2><br />

<h3><a asp-controller="Home" asp-action="AllMovies">View ALL Movies</a></h3>



