@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

<h3>The Joel Hilton Film Collection</h3>
<br />
<img src="~/imgs/joel_hilton.jpg" /><br />

<br />

<div>
    <h2><a asp-controller="Home" asp-action="My_Podcasts">Visit Podcast Page HERE</a></h2>
</div><br /><br />

<div>
    <h2><a asp-controller="Home" asp-action="AllMovies">View ALL Movies</a></h2>
</div>
