@*
    ViewData["Title"] = "MyPodcasts";
*@


<h2>Welcome to the Movie Podcast Page Thing!</h2>
<br /><br />

      <h3> Visit Podcast <a href="https://baconsale.com/" rel="noopener" target="_blank">HERE </a></h3>
